<div class="d-flex justify-content-center align-items-center" *ngIf="loading" style="height: 75vh">
    <div class="spinner-border" role="status"  style="width: 5rem; height: 5rem">
      <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="container-fluid d-flex" *ngIf="!loading">
    <div class="flex-grow w-100" style="min-width: 75%">
        <h4 class="mt-1" *ngIf="!isMobile">Farm</h4>
        <ul class="my-1 pt-1 d-flex justify-content-between nav nav-pills align-items-center" *ngIf="isMobile">
            <li class="nav-item">
                <a class="nav-link p-2" [ngClass]="{'active': activeTab == 'farm'}" (click)="setActiveTab('farm')">Farm</a>
            </li>
            <div class="d-flex justify-content-between align-items-center" *ngIf="activeTab == 'inventory'">
                <ngb-pagination class=" "size="sm" [collectionSize]="birdList.length" [pageSize]="paginationElements" [maxSize]="isMobile ? 1 : 5" [(page)]="currentPage" [directionLinks]="isMobile" class="me-2"></ngb-pagination>
    
                <div ngbDropdown class="d-inline-block" placement="bottom-end">
                    <button type="button" class="btn btn-outline-primary text-end ps-2"
                        id="dropdownBasic1" style="width: 5em" ngbDropdownToggle style="font-size: 100%">
                        {{sortOrder}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem (click)="setSortOrder('Rarity')">Rarity</button>
                        <button ngbDropdownItem (click)="setSortOrder('Level')">Level</button>
                        <button ngbDropdownItem (click)="setSortOrder('New')">New</button>
                    </div>
                </div>
            </div>
            <li class="nav-item" *ngIf="activeTab != 'inventory'">
                <a class="nav-link p-2" [ngClass]="{'active': activeTab == 'inventory'}" (click)="setActiveTab('inventory')">Inventory</a>
            </li>
        </ul>
        <div class="row overflow-auto gy-0 gy-lg-1 gy-xl-2 gx-0 gx-lg-1 gx-xl-2 row-cols-2 row-cols-sm-3 row-cols-lg-6 row-cols-xl-6"
            *ngIf="activeTab == 'farm' || !isMobile">
            <div class="" *ngFor="let bird of birdListActive">
                <app-bird-card [bird]="bird" [onClickCard]="open" [updatePlayerInfo]="updatePlayerData" [updateBirdList]="updateBirdList"></app-bird-card>
            </div>

            <div *ngIf="birdListActive.length < 1">
                <app-bird-card [bird]="{icon: '🪹', name:'Empty Spot', assigned_to_coop: true}" [placeholder]="true"></app-bird-card>
            </div>

            <div *ngIf="birdListActive.length < 2">
                <app-bird-card [bird]="{icon: '🪹', name:'Empty Spot', assigned_to_coop: true}" [placeholder]="true"></app-bird-card>
            </div>
            <div *ngIf="birdListActive.length < 3">
                <app-bird-card [bird]="{icon: '🪹', name:'Empty Spot', assigned_to_coop: true}" [placeholder]="true"></app-bird-card>
            </div>

            <div *ngIf="birdListActive.length < 4">
                <app-bird-card [bird]="{icon: '🪹', name:'Empty Spot', assigned_to_coop: true}" [placeholder]="true"></app-bird-card>
            </div>

            <div *ngIf="birdListActive.length < 5">
                <app-bird-card [bird]="{icon: '🪹', name:'Empty Spot', assigned_to_coop: true}" [placeholder]="true"></app-bird-card>
            </div>

            <div *ngIf="birdListActive.length < 6">
                <app-bird-card [bird]="{icon: '🪹', name:'Empty Spot', assigned_to_coop: true}" [placeholder]="true"></app-bird-card>
            </div>

            <div class="" *ngFor="let x of [].constructor(12)">
                <div style="height: 0px; overflow: hidden">
                    <app-bird-card></app-bird-card>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between p-0 mt-1" *ngIf="!isMobile">
            <h4 class="">Inventory</h4>

            <ngb-pagination class="" [collectionSize]="birdList.length" [pageSize]="paginationElements" [maxSize]="5" [(page)]="currentPage" [directionLinks]="false" ></ngb-pagination>

            <div ngbDropdown class="d-inline-block" placement="bottom-end">
                <button type="button" class="btn btn-outline-primary text-end" id="dropdownBasic1" style="width: 6em" ngbDropdownToggle>
                    {{sortOrder}}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem (click)="setSortOrder('Rarity')">Rarity</button>
                    <button ngbDropdownItem (click)="setSortOrder('Level')">Level</button>
                    <button ngbDropdownItem (click)="setSortOrder('New')">New</button>
                </div>
            </div>
        </div>


        <div class="row overflow-auto gy-0 gy-lg-1 gy-xl-2 gx-0 gx-lg-1 gx-xl-2 row-cols-2 row-cols-sm-3 row-cols-lg-6 row-cols-xl-6"
            *ngIf="activeTab == 'inventory' || !isMobile">

            <div class="" *ngFor="let bird of birdList.slice((currentPage-1) * paginationElements, currentPage * paginationElements)">
                <div>
                    <app-bird-card [bird]="bird" (click)="open(bird)" ></app-bird-card>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-xl-block" style="min-width: 25%; overflow: hidden">
        <!-- placeholder -->
         <app-missions [condensed]="true"></app-missions>
    </div>
</div>

