<div data-bs-theme="dark" class="bg-secondary-subtle text-body phasis vw-100 vh-100">
    <div class="login-form container p-3 pt-4" style="max-width: 500px">
        <div class="bg-body-secondary p-2 rounded-top d-flex flex-column align-items-center border">
            <div>
                <h1 class="m-0" style="font-size: 5em">🪿</h1>
            </div>
            <div>
                <p class="m-0">Goose Farmer Simulator</p>
            </div>
        </div>
        <div class="bg-body p-2 rounded-bottom border border-top-0">
            <form [formGroup]="loginForm" (submit)="login()">
                <div class="mb-2">
                  <label class="form-label" for="email">Email</label>
                  <input class="form-control" type="email" id="email" formControlName="email" name="email" required>
                </div>
                <div class="mb-2">
                  <label class="form-label" for="password">Password</label>
                  <input class="form-control" type="password" id="password" formControlName="password" name="password" required>
                </div>
                <div class="d-flex flex-column">
                    <button type="submit" class="btn btn-primary mb-2">Login</button>
                    <div class="d-flex">
                        <button type="button" class="w-50 btn btn-secondary mb-2 me-2" (click)="signUp()">Sign Up</button>
                        <button type="button" class="w-50 btn btn-secondary mb-2" (click)="playAsGuest()">Play as Guest</button>
                    </div>
                </div>
              </form>
        </div>
    </div>
</div>