<div class="container-fluid" style="height: 75vh">
    <ngb-alert [type]="'info'" [dismissible]="true" class="mt-2">
        <h4>
            Goose Farming 101
        </h4>
        <ul style="list-style-type: none;">
            <li>
                <strong>🥚 Eggs</strong> - geese produce eggs which can be used to trade with other players
            </li>
            <li>
                <strong>🪶 Feathers</strong> - summon new geese to your farm
            </li>
            <li>
                <strong>🍎 Apples</strong> - feed your geese to level them up and increase egg production
            </li>
        </ul>
    </ngb-alert >
    <h4>Missions</h4>
</div>