<div class="container-fluid d-flex">
    <div>
        <h4 class="mt-1" *ngIf="!isMobile">Bird Summoning</h4>

        <div class="mt-2">
            <div class="row gy-0 gy-lg-1 gy-xl-2 gx-0 gx-lg-1 gx-xl-2 row-cols-2 row-cols-lg-5">
                <div class="col">
                    <app-bird-card [bird]="{
                        name: 'Summon 1×🪿',
                        bird_type: {
                            species: 'Use 1×🪶'
                        }
                    }"
                    (click)="summonBird(1)"
                    >
                    </app-bird-card>
                </div>
        
                <div class="col">
                    <app-bird-card [bird]="{
                        icon: '🪿',
                        name: 'Summon 10×🪿aa',
                        bird_type: {
                            species: 'Use 10×🪶'
                        }
                    }"
                    (click)="summonBird(10)"
                    >
                    </app-bird-card>         
                </div>
        
                <div class="col">
                    
                </div>
                <div class="col">
                    
                </div>
                <div class="col">
                    
                </div>
        
            </div>
        </div>


        <div class="d-flex justify-content-between">
            <h4 class="m-0 p-0 mt-1 ">Birds Summoned</h4>

            <ngb-pagination *ngIf="!isMobile" size="md mb-2" [collectionSize]="birdList.length" [pageSize]="paginationElements" [maxSize]="3" [(page)]="currentPage" [directionLinks]="false" class=""></ngb-pagination>
        </div>


        <div >
            <div class="row gy-0 gy-lg-1 gy-xl-2 gx-0 gx-lg-1 gx-xl-2 row-cols-2 row-cols-md-5">
                <div class="col" *ngFor="let bird of birdList.slice((currentPage-1) * paginationElements, currentPage * paginationElements)">
                    <app-bird-card [bird]="bird"></app-bird-card>
                </div>

                <div class="col" *ngFor="let x of [].constructor(25)" style="height: 0px; overflow: hidden">
                    <app-bird-card></app-bird-card>
                </div>

            </div>

            <div class="d-flex justify-content-center mt-2" *ngIf="isMobile && birdList.length / paginationElements > 1">
                <ngb-pagination *ngIf="isMobile" [collectionSize]="birdList.length" [pageSize]="paginationElements" [maxSize]="3" [(page)]="currentPage" [directionLinks]="false" class=""></ngb-pagination>
            </div>
            
        </div>
    </div>

    <div class="d-none d-xl-block" style="min-width: 25%; overflow: hidden">
        <!-- placeholder -->
         <app-missions [condensed]="true"></app-missions>
    </div>

</div>

