<div data-bs-theme="dark" class="bg-body text-body vh-100">
    <style>
        .custom-pills .active, .custom-pills .focus {
            background-color: rgba(135, 135, 135, 0.393) !important;
        }
    </style>

    <div class="d-flex h-100">
        <div ngbNav #nav="ngbNav" [(activeId)]="active"
            class="nav-pills custom-pills flex-column bg-body-secondary z-1"
            orientation="horizontal"
            (mouseenter)="showPills()"
            (mouseleave)="hidePills()"

            >
            
            <button type="button" class="btn text-start m-1" style="border: none">
                <div [hidden]="expand_pills" class="p-1">🪿</div>
                <div [hidden]="!expand_pills" class="text-truncate p-1">
                    🪿Goose Farmer
                </div>
            </button>

            <ng-container ngbNavItem="missions">
                <button ngbNavLink class="m-1 text-start" [@show]="expand_pills ? 'shown' : 'hidden'">
                    <div [hidden]="expand_pills">🏠</div>
                    <div [hidden]="!expand_pills" class="text-truncate">
                        🏠Home
                    </div>
                </button>
            </ng-container>
            <ng-container ngbNavItem="birdList">
                <button ngbNavLink class="m-1 text-start" [@show]="expand_pills ? 'shown' : 'hidden'">
                    <div [hidden]="expand_pills">🪺</div>
                    <div [hidden]="!expand_pills" class="text-truncate">
                        🪺Farm
                    </div>
                </button>
            </ng-container>
            <ng-container ngbNavItem="summonBird">
                <button ngbNavLink class="m-1 text-start" [@show]="expand_pills ? 'shown' : 'hidden'">
                    <div [hidden]="expand_pills">🪶</div>
                    <div [hidden]="!expand_pills"  class="text-truncate">
                        🪶Summon
                    </div>
                </button>
            </ng-container>
        </div>

        
        <div class="position-absolute z-0" >
            <div class="bg-body-tertiary vw-100">
                <div style="margin-left: 4.5em" class="d-flex">
                    <div class="my-1 py-2 flex-fill me-auto" >
                        <span class="position-absolute py-1 ps-1 pe-2 bg-info-subtle rounded-pill d-inline-flex justify-content-between me-2 z-1" [@fade]="showEggChange ? 'shown' : 'hidden'" style="max-width: 5em; width: 33%; top: 3em">
                            <span>
                                🥚
                            </span>
                            <span>
                                {{eggChange}}
                            </span>
                        </span>
                        <span class="py-1 ps-1 pe-2 bg-body rounded-pill d-inline-flex justify-content-between me-2" style="max-width: 5em; width: 33%">
                            <span>
                                🥚
                            </span>
                            <span>
                                {{player?.eggs}}
                            </span>
                        </span>
                        <span class="position-absolute py-1 ps-1 pe-2 bg-info-subtle rounded-pill d-inline-flex justify-content-between me-2 z-1" [@fade]="showFeatherChange ? 'shown' : 'hidden' " style="max-width: 5em; width: 33%; top: 3em">
                            <span>
                                🪶
                            </span>
                            <span>
                                {{featherChange}}
                            </span>
                        </span>
                        <span class="py-1 ps-1 pe-2 bg-body rounded-pill d-inline-flex justify-content-between me-2" style="max-width: 5em; width: 33%">
                            <span>
                                🪶
                            </span>
                            <span>
                                {{player?.summons}}
                            </span>
                        </span><span class="position-absolute py-1 ps-1 pe-2 bg-info-subtle rounded-pill d-inline-flex justify-content-between me-2 z-1" [@fade]="showAppleChange ? 'shown' : 'hidden'" style="max-width: 5em; width: 33%; top: 3em">
                            <span>
                                🍎
                            </span>
                            <span>
                                {{appleChange}}
                            </span>
                        </span>
                        <span class="py-1 ps-1 pe-2 bg-body rounded-pill d-inline-flex justify-content-between" style="max-width: 5em; width: 33%">
                            <span>
                                🍎
                            </span>
                            <span>
                                {{player?.feed}}
                            </span>
                        </span>

                    </div>
                    <div ngbDropdown class="d-inline-block me-3 py-2" placement="bottom-end">
                        <button type="button" class="btn text-end" id="dropdownBasic1" ngbDropdownToggle>
                                {{player?.user?.username}} ⚙️
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem (click)="signOut()">Log Out</button>
                            <button ngbDropdownItem (click)="open(content)" *ngIf="player.is_guest == true">Register Account</button>
                        </div>
                    </div>
   
                </div>
 
            </div>
            <div style="margin-left: 4.5em">
                <div class="flex-fill position-relative" >
                    <div style="height: 1.5em">
                        <div class="position-absolute top-50 start-50 translate-middle text-truncate d-flex justify-content-between w-100 ps-1 pe-3">
                            <div>
                                Current XP {{player.exp - player.last_level_exp}}
                            </div>
                            <div>
                                Lvl. {{player?.level}}
                            </div>
                            <div>
                                {{player.next_level_exp - player.last_level_exp}} to next level
                            </div>
                        </div>
                    <ngb-progressbar class="bg-dark-subtle" type="primary" style="border-radius: 0px; height: 2em; margin-left: -1em" [animated]="true" [value]="(player.exp - player.last_level_exp)/(player.next_level_exp - player.last_level_exp)*100" />

                    </div>
                </div>
                
                <ng-container *ngComponentOutlet="getContent(); inputs: inputs; injector: updatePlayerInfoInjector"/>
            </div>

        </div>


    </div> 
</div>

<ng-template #content let-modal>
    <div data-bs-theme="dark">
        <div class="modal-header bg-body text-body border">
            <h4 class="modal-title" id="modal-basic-title">Register Account</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body bg-body text-body border-start border-end">
            <form [formGroup]="requestGuestVerificationForm" (submit)="submitGuestVerifyRequest()" id="requestGuestVerificationForm">
                <div class="mb-2">
                  <label class="form-label" for="email">Email</label>
                  <input class="form-control" type="email" id="email" formControlName="email" name="email" required>
                </div>

              </form>
        </div>
        <div class="modal-footer bg-body text-body border">
            <button type="button" type="submit" form="requestGuestVerificationForm" class="btn btn-outline-secondary">Confirm</button>
        </div>
    </div>
	
</ng-template>