<div data-bs-theme="dark" class="bg-body text-body vh-100">
    <style>
        .custom-pills .active, .custom-pills .focus {
            background-color: rgba(135, 135, 135, 0.393) !important;
        }
    </style>

    <div class="d-flex h-100">
        <div ngbNav #nav="ngbNav" [(activeId)]="active"
            class="nav-pills custom-pills flex-column bg-body-secondary z-1"
            orientation="horizontal"
            (mouseenter)="showPills()"
            (mouseleave)="hidePills()"

            >
            
            <button type="button" class="btn text-start m-1" style="border: none">
                <div [hidden]="expand_pills" class="p-1">🪿</div>
                <div [hidden]="!expand_pills" class="text-truncate p-1">
                    🪿Goose Farmer
                </div>
            </button>

            <ng-container ngbNavItem="missions">
                <button ngbNavLink class="m-1 text-start" [@show]="expand_pills ? 'shown' : 'hidden'">
                    <div [hidden]="expand_pills">🏠</div>
                    <div [hidden]="!expand_pills" class="text-truncate">
                        🏠Home
                    </div>
                </button>
            </ng-container>
            <ng-container ngbNavItem="birdList">
                <button ngbNavLink class="m-1 text-start" [@show]="expand_pills ? 'shown' : 'hidden'">
                    <div [hidden]="expand_pills">🪺</div>
                    <div [hidden]="!expand_pills" class="text-truncate">
                        🪺Farm
                    </div>
                </button>
            </ng-container>
            <ng-container ngbNavItem="summonBird">
                <button ngbNavLink class="m-1 text-start" [@show]="expand_pills ? 'shown' : 'hidden'">
                    <div [hidden]="expand_pills">🪶</div>
                    <div [hidden]="!expand_pills"  class="text-truncate">
                        🪶Summon
                    </div>
                </button>
            </ng-container>
        </div>

        
        <div class="position-absolute z-0" >
            <div class="bg-body-tertiary vw-100">
                <div style="margin-left: 4.5em" class="d-flex">
                    <div class="my-1 py-2 flex-fill me-auto" >
                        <span class="position-absolute py-1 ps-1 pe-2 bg-info-subtle rounded-pill d-inline-flex justify-content-between me-2" [@fade]="showEggChange ? 'shown' : 'hidden'" style="max-width: 5em; width: 33%; top: 3em">
                            <span>
                                🥚
                            </span>
                            <span>
                                {{eggChange}}
                            </span>
                        </span>
                        <span class="py-1 ps-1 pe-2 bg-body rounded-pill d-inline-flex justify-content-between me-2" style="max-width: 5em; width: 33%">
                            <span>
                                🥚
                            </span>
                            <span>
                                {{player?.eggs}}
                            </span>
                        </span>
                        <span class="position-absolute py-1 ps-1 pe-2 bg-info-subtle rounded-pill d-inline-flex justify-content-between me-2" [@fade]="showFeatherChange ? 'shown' : 'hidden' " style="max-width: 5em; width: 33%; top: 3em">
                            <span>
                                🪶
                            </span>
                            <span>
                                {{featherChange}}
                            </span>
                        </span>
                        <span class="py-1 ps-1 pe-2 bg-body rounded-pill d-inline-flex justify-content-between me-2" style="max-width: 5em; width: 33%">
                            <span>
                                🪶
                            </span>
                            <span>
                                {{player?.summons}}
                            </span>
                        </span><span class="position-absolute py-1 ps-1 pe-2 bg-info-subtle rounded-pill d-inline-flex justify-content-between me-2" [@fade]="showAppleChange ? 'shown' : 'hidden'" style="max-width: 5em; width: 33%; top: 3em">
                            <span>
                                🍎
                            </span>
                            <span>
                                {{appleChange}}
                            </span>
                        </span>
                        <span class="py-1 ps-1 pe-2 bg-body rounded-pill d-inline-flex justify-content-between" style="max-width: 5em; width: 33%">
                            <span>
                                🍎
                            </span>
                            <span>
                                {{player?.feed}}
                            </span>
                        </span>

                    </div>
                    <div class="my-1 py-2 me-2">
                        <div class="py-1">
                            Lvl. {{player?.level}}
                        </div>
                    </div>     
                </div>
 
            </div>
            <div style="margin-left: 4.5em">
                <ng-container *ngComponentOutlet="getContent(); inputs: inputs; injector: updatePlayerInfoInjector"/>
            </div>

        </div>


    </div> 
</div>